include /_mixins
doctype html
html
  head
    title Trello Clone
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')

    //link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet')

    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    header


    main
      block content
    +javascript_include_tag('application')
    +javascript_include_tag('models/board', 'models/list', 'models/card', 'models/label', 'models/activity')
    +javascript_include_tag('collections/lists', 'collections/cards', 'collections/labels', 'collections/activities')
    +javascript_include_tag('views/index', 'views/header', 'views/list', 'views/card', 'views/move_card', 'views/copy_card', 'views/rename_board', 'views/quick_edit', 'views/search_results', 'views/card_modal', 'views/date_picker', 'views/labels', 'views/create_label', 'views/change_label', 'views/notifications')
    script(type="text/javascript").
      App.board = new Board(!{JSON.stringify(board)});
      App.init();
    +javascript_include_tag('router')
    block scripts
