<p>Create Label</p>
<hr>
<a class="close">+</a>
<span class="fa fa-arrow-left"></span>
<form class="create-label">
  <h4>
  Name
  </h4>
  <input type="text" name="title">
  <h4>
  Select a color
  </h4>
  <span data-color="#61bd4f" style="background:#61bd4f" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#f2d600" style="background:#f2d600" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#ffab4a" style="background:#ffab4a" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#eb5a46" style="background:#eb5a46" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#c377e0" style="background:#c377e0" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#0079bf" style="background:#0079bf" class="label selected">
    <span class="fa fa-check" style="display:block"></span>
  </span>
  <span data-color="#00c2e0" style="background:#00c2e0" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#51e898" style="background:#51e898" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#ff80ce" style="background:#ff80ce" class="label">
    <span class="fa fa-check"></span>
  </span>
  <span data-color="#4d4d4d" style="background:#4d4d4d" class="label">
    <span class="fa fa-check"></span>
  </span>
  <div class="add-options">
    <input type="submit" value="Create"/>
  </div>
</form>
