<a class="user-label all-boards" href="#">
  <span class="fa fa-square icon"></span>
  <span class="text">Boards</span>
</a>
<div class="search">
  <input type="text" name="search"/><!--
  --><span class="fa fa-search icon-search icon-square"></span>
</div>
<a class="header-logo" href="#">
  <span class="header-logo-icon"></span>
</a>
<div class="header-user">
  <span class="fa fa-plus icon-square"></span>
  <a class="user-label" href="#">
    <span class="fa fa-user-o icon"></span>
    <span class="text">User</span>
  </a>
  <span class="fa fa-info-circle icon-square"></span>
  <span class="fa fa-bell-o icon-square"></span>
</div>
