<p class="title">Notifications</p>
<hr>
<a class="close" href="#">+</a>
{{#if activities.length}}
  <ul>
    {{#each activities}}
      <li>
        <span class="user">User</span>
        <span> {{{msg}}} </span>
        <span class="datetime">{{#dateString date}}{{/dateString}} at {{time}}</span>
        <span class="fa fa-user"></span>
      </li>
    {{/each}}
  </ul>
  <a class="reset" href="#">Reset</a>
{{else}}
  <p class="none">No notifications</p>
{{/if}}
