<form action="/board" method="put">
 <a href="#">+</a>
 <p class="rename-header">Rename Board</p>
 <hr>
 <h4>Name</h4>
 <input type="text" name="title" value="{{title}}" />
 <input type="submit" value="Rename" />
</form>
